*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
/* header */

.encabezado{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #698D35;
    background-image: url(../src/banners/Banner\ Header\ \(3\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% auto;  
}
.encabezado img{
    border-radius: 15px;
    transition: 0.5s ease-in-out;
    width: 135px;
    height: 100px;
    margin-right: 40px;
}
.encabezado img:hover{
    transform: scale(0.9);
    filter: drop-shadow(2px 2px 6px #A7DF59);
}
.menu{
    display: flex;
    justify-content: space-between;
}
.extra{
    margin: auto 10px;
    text-decoration: none;
    color: whitesmoke;
    background: #555555;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 20px;
    filter: drop-shadow(1px 1px 3px black);
    transition: 0.1s ease-in-out;
}
.extra:hover{
    transform: scale(1.1);
    background:#3c521f;
    filter: drop-shadow(2px 2px 3px white);
}
.contactos{
    margin: auto 10px;
    text-decoration: none;
    color: rgb(30, 30, 30);
    padding: 8px 12px;
    background: gainsboro;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    filter: drop-shadow(1px 1px 6px black);
}
.contactos:hover{
    transform: scale(0.9);
    filter: drop-shadow(6px 6px 8px black);
}
/* main */
.principal{
    background: #EFF1ED;
    padding: 25px 0;
}
.Promociones{
    overflow: hidden;
    width: 85%;
    border-radius: 10px;
    background: #A7DF59;
    padding: 20px 0px;
    box-shadow: 2px 2px 4px black;
    justify-self: center;
    margin-bottom: 35px;
}
.carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 12rem;
    gap: 2rem;
    width: max-content;
    animation: animacion 10s linear infinite;
}
.carousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.carousel img{
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
.carousel img:hover{
    transform: scale(1.1);
}
@keyframes animacion{
    to{
        transform: translateX(calc(-5 * (12rem + 2rem)));
    }
}
#TituloP{
    text-align: center;
    font-size: 60px;    
    margin: 30px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 4px #c86d14;
    padding-bottom: 5px;
    background: #698D35;
    border-radius: 2%;
}
#TituloN{
    margin: 20px 69% 30px 20px;
    padding-left: 30px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 4px #c86d14;
    padding-bottom: 5px;
    border-bottom: #962f33 solid 16px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.banner{
    display: flex;
    background: black;
    margin: auto 25px;
    border-radius: 15px;
    filter: drop-shadow( 0px 2px 6px rgb(85, 84, 84));
}
.banner div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 35px;
}
.banner div img{
    max-width: 350px;
    height: 250px;
    margin: 10px auto;
}
.banner h2{
    color: rgb(202, 199, 199);
    font-size: 40px;
    margin: 10px auto;
    padding-bottom: 5px;
    transition: 0.1s ease-in-out;
}
.banner h2:hover{
    color: #dbc848;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #c86d14, #962f33)1;
}
.banner p{
    color: rgb(202, 199, 199);
    margin-left: 10px;
    font-weight: 400;
}
#Banner{
    max-height: 500px;
    width: 130%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#TituloI{
    margin: 50px 45% 20px 20px;
    padding-left: 30px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 4px #c86d14;
    padding-bottom: 5px;
    border-bottom: #962f33 solid 16px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
#TituloC{
    text-align: center;
    margin: 30px 650px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 4px #c86d14;
    padding-bottom: 5px;
    border-bottom: #962f33 solid 16px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.Informacion{
    padding: 25px;
}
.destacados{
    display: flex;
    justify-content: space-evenly;
}
.tarjetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f3f5f2;
    max-width: 500px;
    max-height: 750px;
    border-radius: 15px;
    filter: drop-shadow(2px 5px 3px darkgray);
    transition: 0.3s ease-in-out;
}
.tarjetas:hover{
    transform: scale(0.95);
    filter: drop-shadow(2px 2px 2px black);
}
.producto{
    width: 450px;
    max-height: 450px;
    border-radius: 20px;
    margin: 10px auto;
}
.tarjetas h3{
    font-size: 30px;
    margin-bottom: 5px;
}
.tarjetas p{
    text-align: center;
}
.precios{
    display: flex;
    margin: 10px 0px;
    justify-content: space-around;
    align-items: center;
}
.precios b{
    color:#62a10a;
    font-weight: 500;
    font-size: 25px;
}
.precios button{
    display: flex;
    margin-left: 25px;
    padding: 5px;
    border-radius: 15px;
    background-color: snow;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.precios button:active{
    background: #698D35;
    color: whitesmoke;
    transform: scale(0.95);
    filter: drop-shadow(2px 2px 6px #7ca83f);
}
.precios button p{
    align-self: center;
    padding: 0px 5px;
}
.carrito{
    width: 20px;
    height: 20px;
}
.Clanes{
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.Clan{
    margin: 30px auto;
    min-width: 200px;
    min-height: 450px;
    max-width: 400px;
    max-height: 750px;
    background:#c7c7c7;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    justify-content: space-around;
    filter: drop-shadow(3px 3px 6px #7e7e7e);
    transition: 0.2s ease-in-out;
}
.Clan img{
    width: 250px;
    height: 250px;
    border-radius: 40%;
    filter: drop-shadow(2px 2px 6px black);
}
.Clan h2{
    font-size: 35px;
    text-shadow: 1px 1px 6px #555555;
}
.Clan p{
    font-weight: 600;
    text-align: center;
    padding: 5px;
}
.Clan button{
    margin-left: 25px;
    padding: 7px 12px;
    border-radius: 15px;
    background-color: #f7f7f7;
    border: none;
    filter: drop-shadow(2px 2px 3px black);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.Clan:hover{
    transform: scale(0.9);
    filter: drop-shadow(4px 4px 8px #304d08);
    background: #62a10a;
}
.Clan button:hover{
    transform: scale(1.05);
    font-size: 15px;
    font-weight: 700;
    filter: drop-shadow(4px 4px 6px #444444);
    background: #cccccc;
}
/* footer */
.pie{
    background: #698D35;
    display: flex;
    justify-content: space-evenly;
    background-image: url(../src/banners/Banner\ Header\ \(3\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;  
    border: #555555 6px solid;
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info img{
    height: 200px;
    width: 200px;
    transition: 0.3s ease-in-out;
    align-self: center;
}
.info img:hover{
    transform: scale(0.9) rotate(1deg);
    filter: drop-shadow(1px 1px 4px white);
}
.info h2{
    margin-top: 30px;
    color: whitesmoke;
    font-size: 25px;
}
.redes img{
    margin-top: 10px;
    width: 70px;
    height: 70px;
    transition: 0.5s ease-in-out;
}
.redes img:hover{
    transform: scale(0.9);
    filter: drop-shadow(2px 2px 8px #A7DF59);
}
.logos{
    display: flex;
    justify-content: space-evenly;
}
.mapa iframe{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px #64a010;
    transition: 0.5s;
    margin-top: 10px;
}
.mapa iframe:hover{
    transform: scale(0.85);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav a{
    text-decoration: none;
    color: #ebebeb;
    text-shadow: 4px 4px 6px black;
    font-size: 25px;
    margin: 12.5% 0;
    transition: 0.1s ease-in-out;
    padding-bottom: 5px;
}
.nav a:hover{
    transform: scale(0.9);
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #c86d14, #962f33)1;
}